.input
  margin-bottom: 8px

  &:last-child
    margin: 0

  &__label
    display: block
    margin-bottom: 2px
    color: #999

  > input, > textarea, > select
    box-sizing: border-box
    width: 100%

    font-size: .9rem
    line-height: 1.2rem

    &:disabled
      opacity: .4

  > input, > textarea
    padding: 4px

