$gray: #888

=fill-container
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%

#reset
  position: absolute
  right: 0
  top: 0
  margin: 10px
  z-index: 1000

#page
  +fill-container
  display: flex
  flex-direction: column

  #content
    position: relative
    flex-grow: 1

.graph
  +fill-container
  overflow: hidden

  &_is-dragging, &_is-dragging *
    cursor: -moz-grabbing !important
    cursor: -webkit-grabbing !important
    cursor: grabbing !important

  &__item
    position: absolute

  &__connection-container
    +fill-container

  &__connection
    stroke: $gray

    &_is-drag
      stroke-dasharray: 3, 3

.full-page
  +fill-container
  background-color: white

  .new-item-button
    z-index: 3
    position: absolute
    top: 20px
    right: 20px

%item-action
  color: lighten($gray, 30%)

  &:hover
    color: $gray

.line, .location
  $outer-margin: 7px

  display: flex
  align-items: center
  box-sizing: border-box
  min-height: 30px
  border: 1px solid $gray
  border-radius: 15px
  background: white

  p, .name
    flex-grow: 1
    font-family: "Helvetica"
    font-size: .9rem
    margin: $outer-margin
    cursor: default
    user-select: none
    -webkit-user-select: none

  .delete-action, .edit-action
    @extend %item-action
    cursor: pointer
    align-self: flex-start
    margin: $outer-margin $outer-margin 0 0

  .connection-handle
    @extend %item-action
    cursor: -moz-grab
    cursor: -webkit-grab
    cursor: grab
    align-self: flex-start
    margin: $outer-margin $outer-margin 0 0
