$gray: #888

=fill-container
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%

#reset
  position: absolute
  right: 0
  top: 0
  margin: 10px
  z-index: 1000

#page
  +fill-container
  display: flex
  flex-direction: column

  #content
    position: relative
    flex-grow: 1

.draggable-container
  +fill-container
  overflow: hidden

  &_is-dragging, &_is-dragging *
    cursor: -moz-grabbing !important
    cursor: -webkit-grabbing !important
    cursor: grabbing !important

  .draggable
    position: absolute

.graph
  @include fill-container
  background-color: white

  &__items, &__connections
    +fill-container
    overflow: hidden

  &__connections
    z-index: 1

  &__items
    z-index: 2

  .new-item-button
    z-index: 3
    position: absolute
    top: 20px
    right: 20px

.connection,
.drag-connection
  stroke: $gray

%item-action
  color: lighten($gray, 30%)

  &:hover
    color: $gray

.location
  display: flex
  box-sizing: border-box
  min-height: 30px
  border: 1px solid $gray
  border-radius: 15px
  width: 200px
  background: white

  .name
    flex-grow: 1
    font-family: "Helvetica"
    font-size: .9rem
    margin: 7px
    cursor: default
    user-select: none
    -webkit-user-select: none

  .delete-action, .edit-action
    @extend %item-action
    cursor: pointer
    align-self: flex-start
    margin: 7px 7px 0 0

.line
  $outer-margin: 7px

  display: flex
  align-items: center
  box-sizing: border-box
  min-height: 30px
  border: 1px solid $gray
  border-radius: 15px
  background: white

  p
    flex-grow: 1
    font-family: "Helvetica"
    font-size: .9rem
    margin: $outer-margin
    cursor: default
    user-select: none
    -webkit-user-select: none

  .edit-action
    @extend %item-action
    cursor: pointer
    align-self: flex-start
    margin: $outer-margin $outer-margin 0 0

  .connection-handle
    @extend %item-action
    cursor: -moz-grab
    cursor: -webkit-grab
    cursor: grab
    align-self: flex-start
    margin: $outer-margin $outer-margin 0 0
