$gray: #888

#reset
  position: absolute
  right: 0
  top: 0
  margin: 10px
  z-index: 1000

#page
  display: flex
  flex-direction: column
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%

  #content
    position: relative
    flex-grow: 1

.container
  display: flex
  flex-direction: column
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%

.panel
  height: 220px

.graph
  position: relative
  background-color: white
  flex-grow: 1

  .draggable
    position: absolute

  & &__items, & &__connections
    position: absolute
    height: 100%
    width: 100%
    overflow: hidden

  & &__connections
    z-index: 1

  & &__items
    z-index: 2

  .new-line-button
    z-index: 3
    position: absolute
    top: 20px
    right: 20px

.connection,
.drag-connection
  stroke: $gray

.line
  $outer-margin: 7px

  display: flex
  align-items: center
  box-sizing: border-box
  min-height: 30px
  border: 1px solid $gray
  border-radius: 15px
  background: white

  p
    flex-grow: 1
    font-family: "Helvetica"
    font-size: .9rem
    margin: $outer-margin
    cursor: default
    user-select: none
    -webkit-user-select: none

  .connection-handle
    align-self: flex-start
    margin: $outer-margin $outer-margin 0 0
    color: lighten($gray, 30%)

    &:hover
      color: $gray
