@import "colors"

.location-editor
  display: flex
  position: relative
  max-height: 100%
  flex-grow: 1

  &__sidebar
    width: 280px
    min-width: 280px
    margin: 10px
    background: #f0f0f0
    display: flex
    flex-direction: column
    max-height: 100%

  &__sidebar-widget
    display: flex
    flex-direction: column
    padding: 10px
    border-bottom: 2px solid white

    &:last-child
      border-bottom: 0
      flex-grow: 1
      overflow-y: hidden

    &__title
      font-size: .9rem
      line-height: 1rem
      color: $text-light
      margin-bottom: 6px

  $resizer-offset: 18px
  .resize-container
    display: flex
    justify-content: center
    align-items: center
    padding: $resizer-offset

    &__reference
      position: relative
      height: 80px
      width: 80px
      border: 1px solid black

  .resizer
    position: absolute
    display: flex
    align-items: center
    justify-content: center

    a
      display: flex
      width: 18px
      height: 18px
      align-items: center
      justify-content: center

      &:hover
        background-color: rgba(255, 255, 0, .2)
        text-decoration: none

    &_horizontal
      width: 100%
      flex-direction: column

      a
        width: 100%

    &_vertical
      height: 100%
      flex-direction: row

      a
        height: 100%

    &_left
      left: -$resizer-offset

    &_right
      right: -$resizer-offset

    &_top
      top: -$resizer-offset

    &_bottom
      bottom: -$resizer-offset

  &__canvas
    position: relative
    flex-grow: 1

.level-wrap
  display: grid
  overflow: scroll
  position: absolute
  top: 40px
  right: 40px
  bottom: 40px
  left: 40px
  overflow: auto

.level
  margin: auto
  position: relative
  background-color: #000
  user-select: none

  &__layer
    position: absolute
    width: 100%
    height: 100%

  &__tile
    user-select: none
    position: absolute

    [draggable=true]
      cursor: grab

    &_highlight
      box-sizing: border-box
      border: 2px solid red
      border-radius: 5px

  .interactor
    position: relative
    overflow: visible
    width: 100%
    height: 100%

    &_paint
      border-radius: 5px
      border: 2px solid yellow

    &_walkable
      background-color: rgba(0, 255, 0, .4)

    &_not-walkable
      background-color: rgba(255, 0, 0, .4)

    &_draggable
      cursor: grab
      border-radius: 5px
      border: 2px solid yellow

    &_dropzone
      background-color: rgba(255, 255, 0, .4)

    &_disabled
      background-color: rgba(255, 0, 0, .2)

.level-popover
  max-width: 230px

  header
    font-family: Verdana
    font-size: .9rem
    border-bottom: 1px solid #ddd
    padding: 0 2px 5px

    .edit
      font-size: .7rem

  &__reference
    display: flex
    flex-direction: column
    padding: 0 2px
    margin: 5px 0

    &__title
      font-size: .7rem
      color: $text-light

.level-layers
  &__item
    display: flex
    font-size: .7rem
    color: $text-regular

    background: #fff
    margin: 4px 0
    align-items: baseline

    &_active
      background-color: #ffc

    > span
      cursor: pointer
      padding: 2px 4px
      margin-right: 4px

      &:last-child
        margin-right: 0

    &__name
      flex-grow: 1

    &__visibility
      &_visible
        color: lighten($text-regular, 50%)

