/*.log
/.clj-kondo
/.lsp
/target
/build
/*-init.clj
/resources/public/compiled
out
.rebel_readline_history
.lein-repl-history
.nrepl-port
.cljs_rhino_repl
.sass-cache
.cljs_nashorn_repl/
nashorn_code_cache
.env
.clj_kondo/
