/*.log
/target
/*-init.clj
/resources/public/js/compiled
/resources/public/css/compiled
out
.rebel_readline_history
.lein-repl-history
.nrepl-port
.cljs_rhino_repl
.sass-cache
.cljs_nashorn_repl/
nashorn_code_cache
