.container {
  display: flex;
  flex-direction: column;
  z-index: 0;
  height: 100vh;
  width: 100vw;
}

.canvas {
  position: relative;
  flex-grow: 1;
}

.form {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, .1);
  height: 200px;
}

.menu {
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 10px;
}

.notifications {
  z-index: 1;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
