.main {
  z-index: 0;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.menu {
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 10px;
}

.notifications {
  z-index: 1;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
