$padding: 16px;
$gutter: 8px;

.container {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  padding: $padding;
}

header {
  color: #aaa;
  font-size: .7rem;
  line-height: 16px;
}

.form {
  display: flex;
  flex-grow: 1;
}

section {
  display: flex;
  flex-direction: column;
  margin-left: $gutter;
  margin-bottom: $gutter;
  &:first-child { margin-left: 0; }
}


.actions {
  display: flex;
  align-content: bottom;
  justify-content: flex-end;
  align-items: flex-end;
}

label {
  display: block;
}

select {
  width: 200px;
  display: block;
}

textarea {
  width: 300px;
  flex-grow: 1;
  margin: 0;
  padding: 0 2px;
  box-sizing: border-box;
  resize: none;
}
