/public/target
**.orig
*.log
*.pid
*.pid.lock
*.rbc
*.seed
*.tgz
.byebug_history
.env
.eslintcache
.lock-wscript
.node_repl_history
.npm
.rspec
.rvmrc
.yarn-integrity
/.bundle
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/log
/public/system
/spec/tmp
/tmp
/vendor/assets/bower_components
/vendor/bundle
capybara-*.html
config/initializers/secret_token.rb
coverage
logs
node_modules
npm-debug.log*
pids
